<div class='flex flex-col items-center justify-center min-h-screen bg-gray-100' >
  <h1 class='text-4xl font-extrabold text-gray-900 mb-8'>Growth Stock</h1>
  <div class='flex space-x-8 mt-8'>
    <p><%= link_to t('tops.index.sign_up_for'), new_user_registration_path, class: 'border rounded-lg px-3 py-2 bg-slate-500 hover:bg-sky-600 text-white' %></p>
    <p><%= link_to t('tops.index.login'), new_user_session_path, class: 'border rounded-lg px-9 py-2 bg-slate-500 hover:bg-pink-600 text-white' %></p>
  </div>
  <p class='mt-8'><%= link_to t('devise.passwords.new.forgot_your_password'), new_user_password_path, class: 'hover:text-blue-600' %></p>
</div>
