<div class=''>
  <div class='flex flex-col items-center justify-center min-h-screen bg-gray-100' >
    <h1 class='text-4xl font-extrabold text-gray-900 mb-8'>Growth Stock</h1>
    <div class='flex space-x-8 mt-8'>
      <p><%= link_to '会員登録', '#', class: 'border rounded p-2 bg-purple-200 hover:bg-purple-300 hover:ring ring-gray-800' %></p>
      <p><%= link_to 'ログイン', '#', class: 'border rounded p-2 bg-blue-200 hover:bg-blue-300 hover:ring ring-gray-800' %></p>
    </div>
  </div>
</div>