<div class='w-full h-16 pt-8 bg-blue-800'>
  <div class= 'justify-items-center md:justify-items-end'>
    <div class='space-x-2 md:space-x-4  md:mr-12 text-white'>
      <%= link_to '登録者一覧',  '#' %>
      <%= link_to 'ストック一覧', '#' %>
      <%= link_to 'マイページ', '#' %>
      <%= link_to 'ログアウト', '#' %>
    </div>
  </div>
</div>